ion-menu {
  ion-content {
    font-size: 70px;
    .perfil {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 7rem;
    }

    .text {
      font-size: 20px;
      padding: 10px;
    }

    .margin {
      margin-top: 5%;
    }
  }


}
