<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Notas </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/movies"></ion-back-button>
    </ion-buttons>
    <ion-menu-button
      slot="end"
      color="warning"
      id="main-content"
    ></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let note of notes" (click)="openNote(note)">
      <ion-label> {{ note?.title }} </ion-label>
      <ion-label> {{ note?.text }} </ion-label>
      <ion-label> {{ currentDate }} </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addNote()" color="warning">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <h1 *ngIf="message" class="text">
    Nenhum resultado encontrado! <br />
    Adicione uma nota <b (click)="addNote()">Aqui</b>
  </h1>
</ion-content>
