<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-icon
          (click)="cancel()"
          class="icon"
          name="close-outline"
        ></ion-icon>
      </ion-buttons>
      <ion-title class="text">{{ note?.title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <div *ngIf="note">
      <ion-item>
        <ion-label position="stacked">Title</ion-label>
        <ion-input [(ngModel)]="note.title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Note</ion-label>
        <ion-input [(ngModel)]="note.text" type="textarea" rows="8"></ion-input>
      </ion-item>
    </div>

    <ion-button
      expand="block"
      shape="round"
      color="success"
      class="buttons"
      (click)="updateNote()"
    >
      <ion-label>{{ "NOTAS.button-salvar" | translate }}</ion-label>
      <ion-icon name="save" slot="start"></ion-icon>
    </ion-button>
    <ion-button
      expand="block"
      shape="round"
      class="buttons"
      color="danger"
      (click)="deleteNote()"
    >
      <ion-icon name="trash-outline"></ion-icon>
      <ion-label> {{ "NOTAS.button-deletar" | translate }}</ion-label>
    </ion-button>
  </ion-content>
</ion-app>
