<ion-header>
  <ion-toolbar>
    <ion-title>{{'HOME.title' | translate}}</ion-title>

    <ion-menu-button
      slot="end"
      color="warning"
      id="main-content"
    ></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let movie of movies" [routerLink]="[movie.id]">
      <ion-avatar slot="start">
        <img [src]="imageBaseUrl + '/w92' + movie.poster_path" alt="" />
      </ion-avatar>

      <ion-label>
        {{movie.title}}
        <p>{{movie.release_date | date: 'y'}}</p>
      </ion-label>
      <ion-badge slot="end" color="warning">{{movie.vote_average}}</ion-badge>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more"
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
